
body{

background:burlywood;

}

header{

border-bottom: 5px solid red;
border-top: 5px solid blue;

}

.BLUE{
color: lightseagreen;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 40px;



}

.white{

color:white;
font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

hr
{
    background-color: white; height: 3px; border: 3px;


}
.caja
{
border: 10px solid red;



}

.foto 
{
width: 4.3%;

}
.foto2 
{
height: 135px;    
float: right;
}


span:hover{background-color: red; color: blue }
{

text-decoration-line: underline;

color: rgb(169, 207, 93);

font-weight: bold;
font-style:  oblique;   

}

